{% extends 'layout.html' %} {% block content %}

<div class="bg-white rounded-lg shadow-lg py-4">
  <h3 class="px-4 pb-2 border-b-2 font-bold">Settings</h3>
  <form id="settingsForm" method="post" class="p-5 [&_input]:border space-y-5">
    <div>
      <div class="flex justify-between items-center">
        <label for="email">Email address</label>
        <label class="relative inline-flex items-center cursor-pointer">
          <input id="sendEmail" name="sendEmail" {% if settings.sendEmail %} checked {% endif %} type="checkbox"
            class="sr-only peer" />

          <!-- Track: w-9 h-5 instead of w-11 h-6 -->
          <div class="w-9 h-5 bg-gray-300 peer-focus:ring-2 peer-focus:ring-blue-300
              rounded-full peer peer-checked:bg-blue-600
              peer-checked:after:translate-x-4 peer-checked:after:border-white
              after:content-[''] after:absolute after:top-0.5 after:left-[2px]
              after:bg-white after:border-gray-300 after:border after:rounded-full
              after:h-4 after:w-4 after:transition-all"></div>
        </label>
      </div>
      <input id="email" type="email" value="{{settings.email}}" name="email" required
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 mt-2" />
    </div>
    <div>
      <div class="flex justify-between items-center">
        <label for="mobile">Phone number</label>
        <label class="relative inline-flex items-center cursor-pointer">
          <input id="sendSms" name="sendSms" type="checkbox" {% if settings.sendSms %} checked {% endif %}
            class="sr-only peer" />

          <!-- Track: w-9 h-5 instead of w-11 h-6 -->
          <div class="w-9 h-5 bg-gray-300 peer-focus:ring-2 peer-focus:ring-blue-300
              rounded-full peer peer-checked:bg-blue-600
              peer-checked:after:translate-x-4 peer-checked:after:border-white
              after:content-[''] after:absolute after:top-0.5 after:left-[2px]
              after:bg-white after:border-gray-300 after:border after:rounded-full
              after:h-4 after:w-4 after:transition-all"></div>
        </label>
      </div>
      <input id="mobile" type="tel" name="mobile" value="{{settings.mobile}}" required
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 mt-2" />
    </div>
    <div class="px-3 py-2 rounded-md border hidden items-center justify-between font-bold">
      <label for="stayAwake">Stay awake?</label>
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" id="stayAwake" name="stayAwake" />

        <!-- Track: w-9 h-5 instead of w-11 h-6 -->
        <div class="w-9 h-5 bg-gray-300 peer-focus:ring-2 peer-focus:ring-blue-300
              rounded-full peer peer-checked:bg-blue-600
              peer-checked:after:translate-x-4 peer-checked:after:border-white
              after:content-[''] after:absolute after:top-0.5 after:left-[2px]
              after:bg-white after:border-gray-300 after:border after:rounded-full
              after:h-4 after:w-4 after:transition-all"></div>
      </label>
    </div>
    <button class="block w-full bg-blue-500 text-white font-bold rounded-lg py-2">Save</button>
  </form>

</div>
{% endblock %}
{% block script %}
<script>
  const container = $.one('#logs-container');
  const msg = $.one('#msg');
</script>
{% endblock %}